@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

/* ==========  ========== */



/* ========== Navbar ========== */

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-top: 25px;
}

.nav > button {
    width: 150px;
    height: 35px;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    cursor: pointer;
    color: white;
    background: #8A2387;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transition: 0.3s ease-in-out;
}

.nav > button:hover {
    scale: 0.98;
}

/* ========== Shop / Title ========== */

.title > h1{
    text-align: center;
    margin-top: 100px;
    font-size: 50px;
    font-weight: 900;
}


.shop {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 150px;
    gap: 50px;
}

.card {
    width: 250px;
    height: 200px;
    border: solid 2px rgb(22, 22, 22);
    box-shadow: #151515 0px 5px 25px 0px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition: 0.5s ease-in-out;
}

.card > .item > h1 {
    font-size: 25px; 
    margin-bottom: 20px;
}

.card > .item > button {
    
    width: 100px;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 15px;
    margin-top: 30px;
    background-color: transparent;
    border: solid 2px rgb(22, 22, 22);
    border-radius: 5px;
    color: white;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.card > .item > button:hover {
    width: 150px;
}